.gallery {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.gallery-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-image {
  max-width: 100%;
  height: auto;
}

.sl-wrapper {
  background: rgba(46, 47, 66, 0.8);
}

.sl-wrapper .sl-close,
.sl-next,
.sl-prev,
.sl-counter {
  color: white !important;
}
